body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #caefd7, #f5bfd7, #abc9e9);
  overflow: hidden;
}
html {
  font-size: 62.5%;
  font-family: "DynaPuff", cursive;
  cursor: default;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.bd--active {
  outline: 3px solid #0c5df5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
